main{
  display: flex;
  align-items: center;
  justify-content: center;
}



.wrapper {
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.315);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction:row;
  gap: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}

.address label {
  width: 35vw;
}

.address iframe {
  display: flex;
  justify-self: center;
  margin-top: 10px;
  min-width: 35vw;
  min-height: 40vh;
  border-radius: 20px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 70vh;
}



form a {
  align-self: center;
  margin-top: 8px;
}

.wrapper p {
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  align-self: center;
  justify-self: center;
}

form label:first-of-type   {
  margin-top: auto;
}

form button {
  margin-top: 30px;
  padding: 5px 0;
  background-color: rgb(52, 156, 225);
  border: solid;
  border-color: rgb(52, 156, 225);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
  font-size: 15px;
  width: 100px;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

form button:hover {
  opacity: 0.8;
}

form button:active {
  opacity: 0.5;
}

form input {
  min-height: 30px;
  min-width: 250px;
  align-self: center;
  outline: none;
  border-radius: 10px;
  border: solid;
  border-color: white;
  padding-left: 10px;
}

textarea {
  min-height: 100px;
  min-width: 250px;
  align-self: center;
  outline: none;
  border-radius: 10px;
  border: solid;
  border-color: white;
  padding-left: 10px;
  resize: none;
}

form label {
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}



@media(max-width:660px) {
  .wrapper {
      min-height: 800px;
      padding: 2px;
      padding-bottom: 20px;
      flex-direction: column;
      gap: 2em;
  }
  .wrapper p {
      margin-bottom: 50px;
      padding-inline: 20px;
  }
  form input,form label,form textarea {
      min-width: 85vw;
      align-self: center;
      justify-self: center;
      margin-top: 0px;
      margin-bottom: 5px;
  }
  .address {
    padding: 1em;
  }
  .address label {
    width: 90vw;
  }
  .address iframe{
    width: 90vw;
  }
  form label:first-of-type   {
    margin-top: 0;
  }
  form {
    padding: 1em;
    min-height: auto;
  }
}
