*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-areas: 
  "navbar navbar"
  "main sidebar"
  "footer footer";
  background-image: url('/images/background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
display: none;
}

nav {
  grid-area: navbar;
  background-color: rgba(255, 255, 255, 0.315);
  box-shadow: 3px  3px  3px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  display: flex;
  gap: 8px;
  list-style: none;
  border-radius: 0 0 30px 30px;
  z-index: 999;
  margin-bottom: 8px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  min-height: 100%;
  padding: 0 2px;
  transition: 0.15s;
}

nav :not(:nth-child(8)) a:hover {
  background-color: #f0f0f0;
}


nav li:first-child {
  margin-right: auto;
}

nav li:first-child a {
  display: flex;
  gap: 8px;
  padding-inline: 20px;
  border-radius: 0 0 0 30px;
}

nav li:first-child img {
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li:nth-child(9) a {
  padding-right: 10px;
  border-radius: 0 0 30px 0 ;
}

.menu-button {
  display: none;
  border-radius: 0 0 30px 0 ;
  padding-right: 20px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.315);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 8px;
  padding-inline: 20px;
  border-radius: 30px 30px 0 0;
  margin-top: 8px;
  font-weight: bold;
}

aside {
  min-height: 100vh;
  display: none;
  grid-area: sidebar;
  top: 0;
  right: 0;
  position: fixed;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.651);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 999;
  border-radius: 40px 0 0 40px;
  font-weight: bold;
}

aside li:hover {
  background-color: #f0f0f0;
}

aside li {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  padding-inline: 10px;
}

aside li:first-child a{
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
}

aside a {
  text-decoration: none;
  color: black;
  width: 300px;
}

aside li:first-child img {
  width: 40px;
}

footer img {
width: 40px;
border-radius: 10px;
background-color: white;
}

footer li {
display: flex;
list-style: none;
padding-top: 8px;
padding-bottom: 8px;
align-items: center;
justify-content: center;
}

footer a {
text-decoration: none;
color: black;
}

footer li:first-child {
margin-right: auto;
}

footer li:last-child {
margin-left: auto;
}


footer div {
display: flex;
flex-direction: row;
gap: 5vw;
}

footer div img {
  transition: 0.15s;
}

footer div img:hover {
  background-color: rgb(206, 204, 204);
}

.login {
  background-color: rgb(52, 156, 225);
  border: solid;
  border-color: rgb(52, 156, 225);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
  padding: 5px 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  align-self: center;
}

.login:hover {
  opacity: 0.8;
}

.login:active {
  opacity: 0.5;
}



@media(max-width: 900px) {
  .hideonmobile{
      display: none;
  }
  .menu-button {
      display: block;
  }
  nav :not(:nth-child(8)) a:hover {
    background-color: #f0f0f0;
    border-radius: 0;
  }

  nav li:nth-child(9) a{
    padding: 0;
  }

  nav li:nth-child(8) {
    margin: 0;
  }

  .menu-button a {  
    border-radius: 0px 0px 30px 0px;
  }
}

@media(max-width: 480px) {
  aside {
    width:100%;
    border-radius: 0;
  }
  footer {
    flex-direction: column; 
  }
  footer li:first-child,footer li:last-child {
    margin: auto;
  }
}
