nav li:nth-child(4) {
  align-items: center;
  align-content: center;
  padding-block: 0.1em;
  background-color: transparent;
  & a{
    color: white;
  }
}

nav li:nth-child(4) a{
  background-color: var(--blue);
  transition: 0.15s ease-in-out;
  min-height: 80%;
  align-self: center;
  padding-inline: 0.5em;
  align-content: center;
  margin-right: 0.8em;
  border-radius: 10px !important;
  box-shadow: var(--button-shadow);
}

nav li:nth-child(4) a:hover {
  background-color: #f0f0f0;
  color: black;
}

main{ 
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:nth-child(8) {
  margin-right: 10px;
}

main a{
  text-decoration: none;
  color: black;
}

main a:hover {
  text-decoration: underline;
}

.login {
  margin-right: 10px;
}


main div {
  padding: 25px 100px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.315);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form a {
  align-self: center;
  margin-top: 8px;
}

main div p {
  margin: 0;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
}

form button {
  margin-top: 30px;
  padding: 5px 0;
  background-color: rgb(52, 156, 225);
  border: solid;
  border-color: rgb(52, 156, 225);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
  font-size: 15px;
  width: 100px;
  align-self: center;
}

form button:hover {
  opacity: 0.8;
}

form button:active {
  opacity: 0.5;
}

input {
  height: 30px;
  width: 250px;
  align-self: center;
  outline: none;
  border-radius: 10px;
  border: solid;
  border-color: white;
  padding-left: 10px;
}

main div form>input:nth-of-type(2) {
  text-transform: uppercase;
}

main div form>input::placeholder {
  text-transform: none;
}

main div form span>span {
  font-weight: 600;
}

label {
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}

form span {
  margin-top: 8px;
  align-self: center;
}

@media(width <= 480px) {
  main {
    display: inline-block;
  }
  main div {
    height: calc(100vh - 211.2px);
    padding: 10px;
  }
  main div p {
    display: inline-block;
  }
  form button {
    margin: 0;
    margin-top: 10px;
  }
  main div {
      height: calc(100vh - 211.2px);
      padding-bottom: 60px;
      padding-top: 50px;
  }
  input, label {
      width: 80vw;
      align-self: center;
  }
}