main{
  display: flex;
  align-items: center;
  justify-content: center;
}

main a{
  text-decoration: none;
  color: black;
}

main a:hover {
  text-decoration: underline;
}

.wrapper {
  padding: 25px 100px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.315);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form a {
  align-self: center;
  margin-top: 8px;
}

.wrapper p {
  margin: 0;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
}

form button {
  margin-top: 30px;
  padding: 5px 0;
  background-color: rgb(52, 156, 225);
  border: solid;
  border-color: rgb(52, 156, 225);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
  font-size: 15px;
  width: 100px;
  align-self: center;
}

form button:hover {
  opacity: 0.8;
}

form button:active {
  opacity: 0.5;
}

input {
  height: 30px;
  width: 250px;
  align-self: center;
  outline: none;
  border-radius: 10px;
  border: solid;
  border-color: white;
  padding-left: 10px;
}

.input-user-id {
  text-transform: uppercase;
}

.input-user-id::placeholder {
  text-transform: none;
}

label {
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}

form span {
  margin-top: 8px;
  align-self: center;
}
@media(max-width:412px) {
  .wrapper {
      height: calc(100vh - 211.2px);
      padding: 25px;
  }
  .wrapper p {
      margin: 0;
  }
  input, label {
      width: 80vw;
      align-self: center;
      margin-bottom: 5px;
  }
}
