*{
  box-sizing: border-box;
}

main {
  display: flex;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  padding: 1em;
}


main form  {
  min-width: 100%;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 1fr auto;
  grid-template-areas: 
  "box-1 box-2 box-3"
  "box-4 box-4 box-4"
  "box-5 box-6 box-7"
  "submit submit submit";
  justify-content: center;
}

main form section h1{
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

main form section:not(:nth-child(4))  {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  flex-direction: column;
  border-radius: 0.8em;
  padding: 1em;
  backdrop-filter: blur(10px);
  gap: 0.1em;
}

main form section:nth-child(4) {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  gap: 1em;
  flex-direction: row;
  border-radius: 0.8em;
  padding: 0;
}

main form section:nth-child(4) section {
  display: flex;
  max-width: 50%;
  height: auto;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--main-color);
  flex-direction: column;
  border-radius: 0.8em;
  justify-content: center;
  padding: 1em;
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow-color);
}

textarea {
  background-color: var(--blue);
  border-radius: 0.8em;
  border: none;
  min-width: 100%;
  /* min-height: 60%; */
  height: auto;
  resize: none;
  padding: 0.5em;
  flex-grow: 1;
  color: white;
}
input,select {
  background-color: var(--blue);
  border-radius: 0.8em;
  border: none;
  resize: none;
  padding: 0.5em;
  color: white;
}

textarea::placeholder,input::placeholder {
  color: white;
  opacity: 0.7;
}

textarea:focus,input:focus {
  outline: 2px solid var(--dark-blue);
}


main form section:last-of-type label:first-of-type {
  background-color: var(--blue);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.8em;
  text-align: center;
}

main form section:last-of-type p {
  background-color: var(--main-color);
  padding: 0.5em 1em;
  text-align: center;
  align-self: center;
  min-width: 20.5vw;
  border-radius: 0.8em;
  box-shadow: var(--shadow-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


main form button {
  background-color: var(--blue);
  border: none;
  min-width: 25%;
  justify-self: center;
  padding: 1em;
  border-radius: 0.8em;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

main form button:hover {
  background-color: #f0f0f0;
  color: black;
}

main form button:active {
  opacity: 0.5;
}

@media(width < 700px) {
  main form{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    grid-template-areas: 
    "box-1 box-2" 
    "box-3 box-5" 
    "box-4 box-4" 
    "box-6 box-7"
    "submit submit";
  }
  main form section:last-of-type p {
    min-width: 40vw;
  } 
}

@media(width< 500px) {
  main form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr auto;
    grid-template-areas: 
    "box-1" "box-2" "box-3" "box-4" "box-5" "box-6" "box-7" "submit";
  }
  main form section:nth-child(4) {
    flex-direction: column;
  }
  main form section:nth-child(4) section {
    min-width: 100%;
  }
  main form section:last-of-type {
    gap: 1em;
  }
  main form section:last-of-type p {
    min-width: 80vw;
  }
}

@media(width > 1150px) {
  main form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "box-1 box-2 box-3 box-7" 
    "box-4 box-4 box-5 box-6" 
    "submit submit submit submit";
  }
}