*{
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  backdrop-filter: blur(10px);
  padding: 2em;
}

main>section {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 25% 37.5% 37.5%;
  grid-template-rows: 2fr auto auto;
  grid-template-areas: 
  "box1 box2 box3"
  "box4 box4 box6"
  "box5 box5 box7";
  gap: 1em;
  width: 100%;
  height: 100%;
}

main section>section {
  background-color: var(--main-color);
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  height: 100%;
  width: 100%;
}

main section>section:first-child {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main img {
  object-fit: cover;
  height: 31vh;
  min-height: 100%;
  width: 100%;
  min-width: 30vh;
  border-radius: var(--border-radius);
}

main section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

main section:nth-child(2) h1 {
  font-size: 1.8em;
  color: var(--blue);
  /* font-family: cursive; */
  font-weight: 900;
  text-align: center;
}

main section:nth-child(3) {
  display: flex;
  flex-direction: column;
  padding-inline: 2em;
  align-items: flex-start;
  gap: 0.1em;
  justify-content: space-evenly; 
  background-color: var(--dark-blue);
  backdrop-filter: blur(10px);
  box-shadow: var(--button-shadow);
}

main section:nth-child(3) h1 {
  display: flex;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  align-self: center;
  background-color: var(--blue);
  box-shadow: var(--button-shadow);
  padding-inline: 1em;
  border-radius: 0.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

main section:nth-child(3) p {
  font-size: 100%;
  font-weight: bold;
  color: white;
}

main section:nth-child(3) button {
  background-color: var(--blue);
  color: white;
  margin-top: 0.3em;
  border: none;
  padding-block: 0.3em;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  align-self: center;
  width: 50%;
  height: 100%;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: 0.15s linear;
}

main section:nth-child(3) button:hover {
  background-color: #f0f0f0;
  color: black;
}

main section:nth-child(3) button:active {
  background-color: #d0d0d0;
}

main section:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  min-width: 100%;
  height: 100%;
  gap: 1em;
}

main section:nth-child(4)::-webkit-scrollbar {
  display: none;
}

main section:nth-child(4) h2 {
  font-size: 1.5em;
  background-color: var(--blue);
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  border-radius: 0.5em;
  text-align: center;
}

main section:nth-child(5){
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

main section:nth-child(5) div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  gap: 1em;
}

main section:nth-child(5) div h2 {
  font-size: 1.5em;
  background-color: var(--blue);
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  border-radius: 0.5em;
  text-align: center;
  width: 100%;
}

main section:nth-child(5) div p {
  font-weight: bold;
  text-align: center;
  align-content: center;
}

main section:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  min-width: 100%;
  height: 100%;
  gap: 1em;
}

main section:nth-child(5)::-webkit-scrollbar {
  display: none;
}

main section:nth-child(5) h2 {
  font-size: 1.5em;
  background-color: var(--blue);
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  border-radius: 0.5em;
  text-align: center;
}

main section:nth-child(6){
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1em;
  padding: 1em;
}

main section:nth-child(6) h2{
  background-color: var(--blue);
  border-radius: 0.5em;
  align-self: center;
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  text-align: center;
}

main section:nth-child(6) div {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: flex-start;
}

main section:nth-child(6) div h3 {
  text-align: center;
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
}

main section:nth-child(6) div p {
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-self: center;
}

main section:nth-child(6) h2{
  background-color: var(--blue);
  border-radius: 0.5em;
  align-self: center;
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  text-align: center;
}

main section:nth-child(6) div {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: flex-start;
}

main section:nth-child(6) div h3 {
  text-align: center;
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
}

main section:nth-child(6) div p {
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-self: center;
}

main section:nth-child(7){
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  gap: 1em;
  padding: 1em;
}

main section:nth-child(7) h2{
  background-color: var(--blue);
  border-radius: 0.5em;
  align-self: center;
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  text-align: center;
}

main section:nth-child(7) div {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: flex-start;
}

main section:nth-child(7) div h3 {
  text-align: center;
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
}

main section:nth-child(7) div p {
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-self: center;
}

main section:nth-child(7) h2{
  background-color: var(--blue);
  border-radius: 0.5em;
  align-self: center;
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  text-align: center;
}

main section:nth-child(7) div {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: flex-start;
}

main section:nth-child(7) div h3 {
  text-align: center;
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
}
#emp_website{
  width: 320px;
  height: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
}
main section:nth-child(7) div p {
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-self: center;
}


@media(width > 1340px) {
  main {
    padding-inline: 5vw;
  }
}

@media(width < 860px) {
  main {
    padding: 1em;
  }
  main section{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "box1 box2"
    "box3 box3"
    "box5 box4"
    "box6 box7";
  }
}

@media(width < 600px) {
  main section{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto auto auto auto;
    grid-template-areas: 
    "box2"
    "box1"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7";
  }
  main section p {
    text-align: center;
  }
}