nav li:nth-child(5) {
  align-items: center;
  align-content: center;
  padding-block: 0.1em;
  background-color: transparent;
  & a{
    color: white;
  }
}

nav li:nth-child(5) a{
  background-color: var(--blue);
  transition: 0.15s ease-in-out;
  min-height: 80%;
  align-self: center;
  align-content: center;
  padding-inline: 0.5em;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

nav li:nth-child(5) a:hover {
  background-color: #f0f0f0;
  color: black;
}


main {
  max-height: 100%;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  align-items: center;
  gap: 1em;
  padding: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main search {
  min-width: 100%;
}
main search form {
  background-color: var(--main-color);
  padding: 2em 0.5em;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

main search form input,select {
  display: block;
  min-width: 25%;
  border-radius: 10px;
  background-color: var(--blue);
  color: white;
  padding: 0.5em;
  outline: none;
  border: none;
}

main search form input::placeholder {
  color: white;
  opacity: 0.5;
}

main search form input:focus,select:focus {
  outline: solid 2px var(--dark-blue);
}

main search form input{
  box-sizing: border-box;
}

main search form button {
  background-color: var(--blue);
  
  border-radius: 10px;
  border: none;
  color: #f0f0f0;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.15s linear;
  outline: solid 2px var(--blue);
}

main search form button:hover {
  outline: none;
  background-color: #f0f0f0;
  color: black;
}

main search form button:focus {
  outline: solid 2px var(--dark-blue);
}

main search form button:active {
  outline: solid 2px var(--dark-blue);
  opacity: 0.5;
}

.events {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(clamp(170px, 20%, 250px), 1fr)); */
  gap: 1em;
  justify-content: center;
  box-sizing: border-box;
}

main ul li {
  list-style: none;
  display: flex;
  height: 100px;
  width: 250px;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
  background-color: var(--dark-blue);
  border-radius: 0.5em;
  box-sizing: content-box;
  justify-content: flex-start;
  box-shadow: 5px 5px 15px black;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  backdrop-filter: blur(10px);
}

main ul li section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  color: white;
}

main ul li section p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: box;
  line-clamp: 2;
  box-orient: vertical;
  font-size: 0.9em;
}

main ul li:hover img {
  border-radius: 0.5em;
}

main ul li img{ 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  transition: 0.15s ease-in-out;
  object-fit: cover;
  object-position: center;
}


main ul li p {
  font: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(width < 450px) {
  main search form {
    flex-direction: column;
    gap: 0.5em;
    padding-inline: 1em;
  }
  main ul li {
    width: 100%;
  }
  main search form input,select,button {
    min-width: 100%;
  }
}