*{
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  backdrop-filter: blur(10px);
  padding: 1em;
}

main>section {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 28.3% 33.3% 38.3%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "box1 box2 box2"
  "box3 box3 box4"
  "box5 box5 box5";
  gap: 0.5em;
  width: 100%;
  height: 100%;
}

main section>section {
  background-color: var(--main-color);
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  height: 100%;
  width: 100%;
}

main section>section:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

main img {
  object-fit: cover;
  height: 31vh;
  min-height: 100%;
  width: 100%;
  min-width: 30vh;
  border-radius: var(--border-radius);
}

main section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
}

main section:nth-child(2) h1 {
  font-size: 2.5em;
  color: var(--blue);
  font-family: pacifico, cursive;
  text-align: center;
}
main section:nth-child(2) p {
  font-weight: bold;
  text-align: center;
}

main section:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  min-width: 100%;
  height: 100%;
  gap: 1em;
}

main section:nth-child(3)::-webkit-scrollbar {
  display: none;
}

main section:nth-child(3) h2 {
  font-size: 1.5em;
  background-color: var(--blue);
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  border-radius: 0.5em;
  text-align: center;
  min-width: 180px;
}

main section:nth-child(4){
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

main section:nth-child(4) div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  gap: 1em;
}
main section:nth-child(4) div h2 {
  font-size: 1.5em;
  background-color: var(--blue);
  color: white;
  padding: 0.25em 1em;
  box-shadow: var(--button-shadow);
  border-radius: 0.5em;
  text-align: center;
  width: auto;
}

main section:nth-child(4) div p {
  font-weight: bold;
  text-align: center;
  align-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main section:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

main section:nth-child(5) h2 {
  background-color: var(--blue);
  padding: 0.25em 1em;
  border-radius: 0.5em;
  color: white;
  min-width: 160px;
  text-align: center;
  box-shadow: var(--button-shadow);
}

main section:nth-child(5) table {
  border: 1px solid var(--blue);
  width: 100%;
  border-radius: 0.5em;
  height: auto;
}

main section:nth-child(5) table thead {
  background-color: transparent;
  color: white;
  height: 30px;
  border-radius: 0.5em;
}

main section:nth-child(5) table thead th {
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  background-color: var(--dark-blue);
  white-space: nowrap;
}

main section:nth-child(5) table tbody {
  background-color: transparent;
  color: white;
  border-radius: 0.5em;
}

main section:nth-child(5) table tbody tr{
  cursor: pointer;
  background-color: var(--blue);
  transition: 0.15s linear;
}

main section:nth-child(5) table tbody tr:hover {
  background-color: white;
  color: black;
}
main section:nth-child(5) table tbody tr td {
  border-radius: 0.5em;
  height: auto;
  padding-inline: 0.1em;
  text-align: center;
}

main section:nth-child(5) button {
  border: none;
  outline: none;
  background-color: var(--blue);
  color: white;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s linear;
  box-shadow: var(--button-shadow);
}

main section:nth-child(5) button:hover {
  background-color: white;
  color: black;
}

main section:nth-child(5) button:active {
  opacity: 0.5;
}


main section:nth-child(5) div {
  display: grid;
  grid-template-columns: auto auto ;
  height: auto;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
  }
  
  main section:nth-child(5) label {
    text-align: end;
    align-content: center;
  }
  
  
  main section:nth-child(5) div select {
    background-color: var(--blue);
    color: white;
    border-radius: 0.5em;
    outline: none;
    border: none;
    min-height: 2em;
    width: 100%;
    height: 2em;
    padding-inline: 1em;
    padding-block: 0;
  }
  
#download_event_details {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  box-shadow: var(--button-shadow);
  border-radius: 0.5em;
  text-align: center;
  min-width: 160px;
  cursor: pointer;
  transition: 0.15s linear;
}

#download_event_details:hover {
  background-color: white;
  color: black;
}

#download_event_details:active {
  opacity: 0.5;
}

@media(width > 1340px) {
  main {
    padding-inline: 10vw;
  }
} 


@media(width < 940px) {
  
  main section{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "box1 box2"
    "box4 box4"
    "box3 box3"
    "box5 box5";
  }
  main section:nth-child(5) table {
    display: block;
    max-width: 80vw;
    overflow: scroll;
  }
}

@media(width < 590px) {
  main section:nth-child(4) div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main section{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "box1"
    "box2"
    "box3"
    "box4"
    "box5";
  }
  main section p {
    text-align: center;
  } 
}