main {
  display: grid;
  grid-template-rows: auto;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  padding: 1em;
  max-height: 100%;
  gap: 1em;
  align-items: center;
}

#heading{
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  padding: 0.1em 1em;
  margin-inline: auto;
  text-align: center;
  align-items: center;
}

main form {
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  "box-1 box-2"
  "submit submit";
  gap: 1em;
}

main form div {
  background-color: var(--main-color);
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  padding: 1em;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test {
  min-height: 100%;
}

main form input {
  background-color: var(--blue);
  border: none;
  padding: 1em;
  border-radius: 0.8em;
  color: white;
  outline: none;
}
 
main form div:first-child label:not(:first-of-type) {
  margin-top: 1em;
  font-weight: bold;  
  font-size: 1em;
} 
main form label:first-of-type {
  font-weight: bold;
  font-size: 1em;
}
main form div input,textarea {
  background-color: var(--blue);
  box-sizing: border-box;
  border: none;
  padding: 0.8em;
  border-radius: 0.8em;
  color: white;
  outline: none;
  resize: none;
}

main form textarea::placeholder,input::placeholder {
  color: white;
  opacity: 0.5;
}

main form div div:last-child {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: none;
  text-align: center;
  & label {
    background-color: var(--blue);
    padding: 1em;
    border-radius: 0.8em;
    color: white;
    font-weight:500;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }
}

main form div:last-of-type {
  max-width: 100%;
  gap: 1em;
}

main form div:last-of-type div {
  background-color: transparent;
  max-width: 100%;
  
}

main form div:last-of-type div label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.15s ease-in-out;
}

main form div:last-of-type div label:hover {
  box-shadow: var(--shadow-color);
  background-color: #f0f0f0;
  color: black;
  
}

main form div:last-of-type div label:active {
  opacity: 0.5;
}

main form:last-child div textarea {
  min-height: 40vh;
}

main form button {
  background-color: var(--blue);
  border: none;
  min-width: 25%;
  justify-self: center;
  padding: 1em;
  border-radius: 0.8em;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

main form button:hover {
  background-color: #f0f0f0;
  color: black;
}

main form button:active {
  opacity: 0.5;
}

@media(width <= 620px ) {
  main form {
    display: flex;
    flex-direction: column;
  }
  main form div:first-of-type input:last-of-type{
    margin-top: 1em;
  }
  main form div div:last-child {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}