*{
  box-sizing: border-box;
}

nav li:nth-child(2) {
  background-color: var(--blue);
  border-radius: 1em;
}

body>main {
  position: fixed;
}

body>main>section::-webkit-scrollbar {
  width: 0.5em;
}

body>main>section::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 1em;
}

body main>section {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "stats"
  "detailed_stats";
  background-color: var(--main-color);
  border-radius: 1em;
  box-shadow: var(--primary-shadow-color);
  height: 100%;
  width: 100%;
  padding: 1em;
  gap: 1em;
  overflow-y: scroll;
  &>section:first-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "stat_1 stat_2 stat_3 stat_4";
    align-items: center;
    justify-content: center;
    gap: 1em;
    & p{
      text-align: center;
      align-content: center;
      border-radius: 0.3em;
      color: white;
      background-color: var(--blue);
      width: 100%;
      height: 100%;
      margin: 0;
      box-shadow: var(--button-shadow);
      cursor: pointer;
      padding-block: 1em;
    }
  }
  &>section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: .8fr auto;
    grid-template-areas: 
    "box1 box1 box2 box2 box3 box3 box7 box7"
    "box5 box5 box5 box6 box6 box6 box4 box4";
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 1em;
    &>section {
      background-color: var(--main-color);
      height: 100%;
      width: 100%;
      border-radius: 0.5em;
      backdrop-filter: blur(10px);
      padding: 0;
      box-shadow: var(--primary-shadow-color);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
    }
    #users_by_type, #users_by_branch, #jobs_by_type, #files_by_type, #all_active_users {
      height: auto !important;
      width: 71% !important;
      cursor: pointer;
     }
     #events_graph, #jobs_graph {
      height: auto !important;
      width: 95% !important;
      cursor: pointer;
     }
  }
}


@media(width < 1010px) {
  #my_charts{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box3 box4"
    "box7 ."
    "box6 box6"
    "box5 box5";
    row-gap: 1em;
  }
  #events_graph, #jobs_graph {
    height: 50%;
    width: 50%;
    padding: 1em;
  }
}

@media(width < 635px) {
  #users_by_type, #users_by_branch, #jobs_by_type, #files_by_type, #all_active_users {
    height: auto;
    min-width: 70%;
  }
  #events_graph, #jobs_graph {
    height: 100%;
    width: 100%;
    padding: 1em;
  }
  #my_charts {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box1"
    "box2"
    "box3"
    "box4"
    "box7"
    "box6"
    "box5";
  }
  #stats{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "stat_1 stat_2"
    "stat_3 stat_4";
    row-gap: 1em;
    & p {
      padding: 1em;
    }
  }
}