* {
  box-sizing: border-box;
}

main section {
  width: 100%;
  height: 100%;
  padding: 1em;
}

main section form {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 1em;
  backdrop-filter: blur(5px);
  display: grid;
  padding: 1em;
  gap: 1em;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 2em 1fr;
  grid-template-areas: 
  "box1 box2 box3" 
  "box4 box4 box4"
  ". submit .";
  & div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    gap: 0;
    & label {
      min-width: 4em;
      text-align: center;
    }
    & input,select,textarea {
      width: 100%;
      height: 100%;
      background: linear-gradient(145deg, var(--blue), var(--dark-blue));
      border: 2px solid var(--blue);
      color: white;
      border-radius: 0.5em;
      padding: 0.5em;
      font-family: Arial, Helvetica, sans-serif;
      &::placeholder {
        color: white;
      }
      &:focus {
        outline: 2px solid var(--dark-blue);
      }
    }
    & select{
      & option {
        background-color: var(--blue);
      }
    }
    & textarea {
      resize: none;
      background: linear-gradient(145deg, var(--blue), var(--dark-blue), var(--dark-blue), var(--blue));
    }
  }
  & div:last-of-type {
    flex-direction: column;
    gap: 0.1em;
    & label {
      text-align: left;
      margin-right: auto;
    }
  }
  button {
    background-color: #f39c12;
    color: #fff;
    font-size: 1.1em;
    border: 2px solid #f39c12;
    border-radius: 0.5em;
    display: flex;
    gap: 0.1em;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 0.3em 1em;
    width: calc(100%-10%);
    cursor: pointer;
    transition: 0.15s linear;
  }
}

@media(hover: hover) {
  main section form button:hover {
    background-color: white;
    color: black;
    & svg {
      fill: white;
      & path {
        stroke: black;
      }
    }
  }
}

@media(width < 800px) {
  main section form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 2em 2em 1fr 2em;
    grid-template-areas: 
    "box1 box1"
    "box2 box2"
    "box3 box3"
    "box4 box4"
    "submit submit";
    & div {
      gap: 0.2em;
    }
  }
}

@media(width < 400px) {
  main section form {
    grid-template-columns: 1fr;
    gap: 0.1em;
    grid-template-rows: 4em 4em 4em 1fr 4em;
    & div{
      flex-direction: column;
      & label {
        margin-right: auto;
        text-align: left;
      }
    }
  }
}
  