* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 1em;
}

main>section {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 1em;
}

main>section>section {
  background-color: var(--main-color);
  height: 100%;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
  display: grid;
  grid-template-rows: 60px auto 50px 1fr;
  grid-template-columns: 1fr;
  align-items: start;
  overflow: hidden;
  gap: 0.1em;
  &>form{
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    padding: 1em 0.5em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 10ch;
    grid-template-rows: 1fr;
    gap: 1em;
    grid-template-areas: 
    "input1 input2 input3 input4 submit";
    align-items: center;
    justify-content: space-evenly;
    &>div{
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      gap: 1em;
      & label {
        width: auto;
        min-width: 7ch;
        text-align: start;
      }
      & input, select {
        background-color: var(--blue);
        padding: 0.25em 0.5em;
        border: none;
        height: 100%;
        width: 100%;
        color: #fff;
        border-radius: 0.5em;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline: 2px solid var(--dark-blue);
        }
      }
    }
    & button {
      background-color: var(--dark-blue);
      color: #fff;
      padding: 0.5em 0.5em;
      border: none;
      height: 100%;
      width: 100%;
      border-radius: 0.5em;
      transition: 0.15s linear;
      cursor: pointer;
      &:focus {
        outline: none;
        background-color: #fff;
        color: black;
      }
      &:hover{
        background-color: #fff;
        color: black;
      }
    }
  }
  &>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border-bottom: 2px solid var(--dark-blue);
    background-color: transparent;
    gap: 0;
    &>button {
      background-color: transparent;
      border: none;
      height: 100%;
      width: 8%;
      cursor: pointer;
    }
  }
}

.button_active {
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--dark-blue);
    bottom: 0;
    right: 0;
    transition: 0.15s linear;
  }
}

#search_result_container:has(#search_result:empty) {
  padding: 0;
  min-height: 0;
  transition: 0.15s linear;
}


#search_result_container {
  min-height: 25vh;
  height: 100%;
  width: 100%;
  padding: 1em;
  background-color: var(--main-color);
  border-radius: 1em;
  overflow: auto;
  transition: 0.15s linear;
}

#all_jobs {
  display: flex;
  height: 100%;
  width: 400%;
  max-height: 50vh;
  align-items: center;
  justify-content: space-around;
  transition: 0.15s linear;
  overflow: auto;
  background-color: transparent;
  gap: 1em;
}

#all_table_container {
  width: 24%;
  height: 100%;
  overflow: auto;
  padding-inline: 1em;
}

#all_full_time_jobs, #all_part_time_jobs, #all_internship_jobs, #all_contract_jobs {
  max-height: 100%;
  height: auto;
  width: auto;
  min-width: 100%;
  white-space: nowrap;
  table-layout: auto;
  border-collapse: collapse;
  & th {
    text-align: start;
    background-color: var(--dark-blue);
    padding: 0.25em 0.5em;
    height: 15px;
    position: sticky;
    color: white;
    top: 0;
  }
  & tr:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  & tr:nth-of-type(2n+1){
    background-color: #fff;
    color: #000;
  }
  & td {
    cursor: pointer;
    text-align: start;
    padding: 0.25em 0.5em;
    max-height: 10px;
  }
  & td:last-of-type
  { padding: 0.1em;
    & button {
      background-color: red;
      border: none;
      color: white;
      padding: 0.25em 0.5em;
      height: 100%;
      width: 100%;
      cursor: pointer;
      transition: 0.15s linear;
      font-weight: 600;
      &:focus {
        outline: none;
        background-color: transparent;
        color: black;
        border: none;
        box-shadow: var(--button-shadow);
        border-radius: 0.5em;
      }
      &:hover {
        background-color: #fff;
        color: black;
        border: none;
        box-shadow: var(--button-shadow);
        border-radius: 0.5em;
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
}

#search_result_container:has(#search_result:empty) {
  padding: 0;
  min-height: 0;
  transition: 0.15s linear;
}

#search_result_container {
  max-height: 40vh;
  height: 100%;
  width: 100%;
  padding: 1em;
  background-color: var(--main-color);
  border-radius: 1em;
  overflow: auto;
  transition: 0.15s linear;
}

#search_result {
  width: auto;
  min-width: 100%;
  white-space: nowrap;
  table-layout: auto;
  border-collapse: collapse;
  & th {
    text-align: start;
    background-color: var(--dark-blue);
    padding: 0.25em 0.5em;
    height: 15px;
    position: sticky;
    color: white;
    top: 0;
  }
  & tr:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  & tr:nth-of-type(2n+1){
    background-color: #fff;
    color: #000;
  }
  & td {
    cursor: pointer;
    text-align: start;
    padding: 0.25em 0.5em;
    height: 10px;
  }
  & td:last-of-type
  { padding: 0.1em;
    & button {
      background-color: red;
      border: none;
      color: white;
      padding: 0.25em 0.5em;
      height: 100%;
      width: 100%;
      cursor: pointer;
      transition: 0.15s linear;
      font-weight: 600;
      &:focus {
        outline: none;
        background-color: transparent;
        color: black;
        border: none;
        box-shadow: var(--button-shadow);
        border-radius: 0.5em;
      }
      &:hover {
        background-color: transparent;
        color: black;
        border: none;
        box-shadow: var(--button-shadow);
        border-radius: 0.5em;
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
}


@media(width < 1100px) {
  main>section>section {
    grid-template-rows: auto auto 50px 1fr;
  }
  main>section>section>form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "input1 input1 input2 input2" 
    "input3 input3 input4 input4" 
    ". submit submit .";
    column-gap: 0.5em;
    row-gap: 0.5em;
    & div {
      gap: 0.5em;
    }
  }
}

@media(width < 935px) {
  main>section>section>div{
    & button {
      width: 100%;
    }
  }
}

@media(width < 530px) {
  main>section>section {
    grid-template-rows: auto auto 50px 1fr;
  }
  main>section>section>form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    grid-template-areas: 
    "input1" 
    "input2"
    "input3"
    "input4"
    "submit";
    column-gap: 0.5em;
    row-gap: 0.5em;
    & div {
      gap: 0.5em;
    }
  }
}