@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  interpolate-size: allow-keywords;
  /* --main-primary-color: rgb(255, 189, 66); */
  --main-primary-color: skyblue;
  --nav-color: rgb(0, 0, 0); 
  --main-color:rgba(255, 255, 255, 0.695);
  /* --nav-color: rgba(0, 0, 0, 0.804);  */
  --primary-shadow-color: 0  3px  3px 5px rgba(0, 0, 0, 0.1);
  --shadow-color: 0  3px  3px 5px rgba(0, 0, 0, 0.21);
  --border-radius: 30px;
  --font: 'Nunito Sans', Arial ,Georgia, Times, serif;
  --blue: rgb(98, 151, 226);
  --dark-blue: #4169E1;
  --button-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

*{
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 3.5em calc(100% - 3.5em);
  grid-template-columns: 100%;
  font-family: var(--font), Tahoma, Geneva, Verdana, sans-serif;
  grid-template-areas: 
  "navbar" "main";
  color: black;
  margin: 0;    
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: space-between;
  
}

body::-webkit-scrollbar {
display: none;
}


body.loading {
  overflow: hidden;
  pointer-events: none; 
}

.loading-page {
  background-color: white;
  position: fixed;
  top: 0%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading-finished {
  transition: 0.15s ease-out;
  width: 0;
  opacity: 0.5;
}

.circle {
  width: 3em;
  height: 3em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid transparent;
  border-color: #b9b6b6;
  border-radius: 50%;
  z-index: 1000;
}

.dot-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 2s linear infinite;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--blue);
  transition: background-color 1.5s ease, border-color 1.5s ease;
  animation: zoom 1s infinite ease-in-out, colorchange 3s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes zoom {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
  }
}


@keyframes colorchange {
  0% {
    background-color: var(--blue);
    border-color: var(--blue);
  }
  50% {
    background-color: #e74c3c; 
    border-color: #e74c3c;
  }
  75% {
    background-color: var(--blue);
    border-color: var(--blue);
  }
  100% {
    background-color: #e74c3c; 
    border-color: #e74c3c
  }
}

nav li.active {
  background-color: var(--dark-blue);
  border-radius: 50% 50% 0 0;
  position: relative;
}

nav li.active::after, nav li.active::before {
  transition: 0.15s linear;
  content: '';
  position: absolute;
  height: 1em;
  width: 1em;
  bottom: 0;
  background-color: var(--nav-color);
}

nav li.active::after {
  right: calc(1em * -1);
  border-radius: 0 0 0 100%;
  box-shadow: -5px 5px 0 5px var(--dark-blue);
}

nav li.active::before {
  left: calc(1em * -1);
  border-radius: 0 0 100% 0;
  box-shadow: 5px 5px 0 5px var(--dark-blue);
}

body nav {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  gap: 0.5em;
  padding-inline: 1em;
  padding-top: 0.5em;
  z-index: 999;
  transition: 0.15s linear;
  & li {
    list-style: none;
    height: 3em;
    width: 3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em 1em 0 0;
    transition: 0.15s linear;
    & svg {
      height: 24px;
      width: 24px;
      fill: white;
    }
    & a{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      gap: 0.5em;
      & p{
        text-align: center;
        margin: 0;
        transition: 0.15s linear;
      }
      & p:empty {
        display: none;
      }
    }
  }
}

body main {
  background-image: url('/images/background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "content";
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-primary-color);
  gap: 0;
  & h1{
    background-color: var(--dark-blue);
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    text-align: center;
    align-content: center;
    height: 100%;
    padding: 0.2em;
    transition: 0.15s linear;
    color: white;
  }
}

@media(hover: hover) {
  nav li:not(.active):hover {
    width: 10%;
    background-color: white;
    & svg {
      fill: black;
    }
    & p {
      color: black;
    }
  }
}

@media(hover: none) {
  ::-webkit-scrollbar {
    display: none;
  }
}