*{
  box-sizing: border-box;
}

main h1 {
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 0.2em 1em;
  color: white;
  border-radius: 0.5em;
  background-color: var(--blue);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  backdrop-filter: blur(10px);
  max-height: 100%;
  max-width: 100%;
  padding: 1em;
  align-items: center;
  gap: 1em;
}

main search form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "input-1 input-2 input-3 submit";
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  max-width: 100%;
  width: 90%;
  max-height: 100%;
  background-color: var(--main-color);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  gap: 0.5em;
  box-shadow: var(--shadow-color);
}

main search form div {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

main search input,select{
  background-color: var(--blue);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  color: white;
  min-width: 100%;
}

main search form select {
  white-space: nowrap ;
  overflow: hidden;
  text-overflow: ellipsis;
}

main search input:focus, select:focus{
  outline: 2px solid var(--dark-blue);
}

main search input::placeholder {
  color: white;
  opacity: 0.5;
}

main search form button {
  background-color: var(--blue);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  transition: 0.15s linear;
}
main search form button:focus {
  outline: 2px solid var(--dark-blue);
}

main search form button:hover {
  background-color: white;
  color: black;
}

main search form button:active {
  opacity: 0.5;
}


main>section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr ;
  grid-template-areas: 
  "box-1 box-2 box-3 box-4"
  "box-5 box-6 box-7 box-8";
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  gap: 1em;
}

main section>section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: 0.5em;
  gap: 1em;
  text-align: center;
  padding: 1em;
}

main section section>section {
  height: 35vh;
  overflow-y: scroll;
  max-width: 100%;
}

main section>section::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

main section>section::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0.5em;
}

main section section div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  padding: 0.4em 1em;
  border-radius: 0.5em;
}

main section section div p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main section section div button {
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.15s linear;
}

main section section div button:focus {
  outline: 2px solid var(--dark-blue);
}

main section section div button:hover {
  background-color: white;
  color: black;
}

main section section div button:active {
  outline: 2px solid white;
  opacity: 0.5;
}

.search-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  padding: 0.4em 1em;
  border-radius: 0.5em;
}

.search-result p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result button {
  background-color: var(--blue);
  color: white;
  border-radius: 0.5em;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.15s linear;
}

.search-result button:focus {
  outline: 2px solid var(--dark-blue);
}

.search-result button:hover {
  background-color: white;
  color: black;
}

.search-result button:active {
  outline: 2px solid white;
  opacity: 0.5;
}

@media(width > 1340px) {
  main {
    padding-inline: 10vw;
  }
} 


@media(width < 820px) {
  main search {
    min-width: 100%;
  }
  main search form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "input-1 input-1"
    "input-2 input-3"
    "submit submit";
  }
}
@media(width < 900px) {
main section {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "box-1 box-2 box-3"
  "box-4 box-5 box-6"
  "box-7 box-8 .";
}
}

@media(width < 750px) {
  main section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-4"
    "box-5 box-6"
    "box-7 box-8";
  }
}

@media(width < 425px){  
  main search {
    min-width: 100%;
  }
  main search form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "input-1"
    "input-2"
    "input-3"
    "submit";
    min-width: 100%;
  }
}

@media(width < 400px) {
  main section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8";
  }
  main section section {
    width: 90vw;
  }
}