*{
  box-sizing: border-box;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow-color);
  padding: 1em;
  gap: 1em;
  min-width: 100%;
  min-height: 100%;
} 


main h1 {
  background-color: var(--blue);
  color: white;
  text-align: center;
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
}

main form {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  min-height: 100%;
  min-width: 50%;
  padding: 1em;
  justify-content: center;
  box-shadow: var(--shadow-color);
  gap: 0.5em;
}

main form label {
  font-weight: 600;
}

main form input,select {
  border: none;
  background-color: var(--blue);
  border-radius: 0.8em;
  max-height: 100%;
  max-width: 100%;
  padding: 0.5em;
  color: white;
}
select:focus,input:focus {
outline: 2px solid var(--dark-blue);
}

main form input::placeholder {  
  color: white;
  opacity: 0.8;
}

main form label:last-of-type {
  text-align: center;
  align-self: center;
  border-radius: 0.8em;
  padding: 0.5em 1em;
  background-color: var(--blue);
  color: white;
  min-width: 100%;
  width:100px;
  cursor: pointer;
  transition: 0.15s linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main form label:last-of-type:hover {
  box-shadow: var(--shadow-color);
  background-color: white;
  color: black;
}

main form button {
  background-color: var(--blue);
  border: none;
  padding: 1em;
  min-width: 40%;
  border-radius: 0.8em;
  align-self: center;
  color: white;
  cursor: pointer;
  transition: 0.15s linear;
  font-weight: 600;
}

main form button:hover {
  background-color: white;
  color: black;
  box-shadow: var(--shadow-color);
}
main form button:active {
  opacity: 0.6;
}

@media(width < 600px) {
  main form {
    min-width: 100%;
  }
  main h1 {
    font-size: 1.9em;
  }
}

@media(width > 1024px) {
  main form {
    min-width: 35%;
  }
}