nav li:nth-child(4) {
  align-items: center;
  align-content: center;
  padding-block: 0.1em;
  background-color: transparent;
  & a{
    color: white;
  }
}

nav li:nth-child(4) a{
  background-color: var(--blue);
  transition: 0.15s ease-in-out;
  min-height: 80%;
  align-self: center;
  align-content: center;
  padding-inline: 0.5em;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

nav li:nth-child(4) a:hover {
  background-color: #f0f0f0;
  color: black;
}


main {
  max-height: 100%;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  align-items: center;
  gap: 1em;
  padding: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main search {
  min-width: 100%;
}
main search form {
  background-color: var(--main-color);
  padding: 2em;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-inline: 0.5em;
}

main search form input,select {
  display: block;
  min-width: 25%;
  border-radius: 10px;
  background-color: var(--blue);
  color: white;
  padding: 0.5em;
  outline: none;
  border: none;
}

main search form input::placeholder {
  color: white;
  opacity: 0.5;
}

main search form input:focus,select:focus {
  outline: solid 2px var(--dark-blue);
}

main search form input{
  box-sizing: border-box;
}

main search form button {
  background-color: var(--blue);
  border-radius: 10px;
  border: none;
  color: #f0f0f0;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.15s linear;
  outline: solid 2px var(--blue);
}

main search form button:hover {
  outline: none;
  background-color: #f0f0f0;
  color: black;
}

main search form button:focus {
  outline: solid 2px var(--dark-blue);
}

main search form button:active {
  outline: solid 2px var(--dark-blue);
  opacity: 0.5;
}

.users {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(170px, 20%, 250px), 1fr));
  gap: 1em;
  box-sizing: border-box;
}

main ul li {
  list-style: none;
  display: flex;
  max-width: 250px;
  flex-direction: row;
  gap: 1em;
  padding-right: 1em;
  align-items: center;
  background-color: rgba(98, 151, 226, 0.445);
  border-radius: 50% 10px 10px 50%;
  box-sizing: content-box;
  box-shadow: 5px 5px 15px black;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  backdrop-filter: blur(10px);
}

main ul li:hover {
  border-radius: 35% 10px 10px 35%;;
}

main ul li:hover img {
  transform:scale(1.1);
  border-radius: 50%;
}

main ul li img{ 
  width: 50%;
  transition: 0.15s ease-in-out;
  height: 100%;
  border-radius: 50% 0 0 50% ;
}


main ul li p {
  font: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(width < 450px) {
  main search form {
    flex-direction: column;
    gap: 1em;
    padding-inline: 1em;
  }
  main search form input,select,button {
    min-width: 100%;
  }
}