
nav li:nth-child(4) {
  background-color: var(--blue);
  transition: 0.15s ease;
  min-height: 80%;
  align-self: center;
  align-content: center;
  border-radius: 10px;
  & a{
    color: #f0f0f0;
  }
}

nav li:nth-child(4):hover {
  background-color: #f0f0f0;
  & a{
    color: black;
  }
}

nav li:nth-child(4) a:hover {
  background-color: transparent !important;
}


main {
  max-height: 100%;
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  align-items: center;
  gap: 1em;
  padding: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main search {
  min-width: 100%;
}
main search form {
  background-color: var(--main-color);
  padding: 2em;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-inline: 0.5em;
}

main search form input,select {
  display: block;
  min-width: 25%;
  border-radius: 10px;
  background-color: var(--blue);
  padding: 0.5em;
  outline: none;
  border: none;
}

main search form input{
  box-sizing: border-box;
}

main search form button {
  background-color: var(--blue);
  border-radius: 10px;
  border: solid;
  border-color: var(--blue);
  color: #f0f0f0;
  padding: 0.5em;
}
.users {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 1em;
}

main ul li {
  list-style: none;
  display: flex;
  max-width: 250px;
  flex-direction: row;
  gap: 1em;
  padding-right: 1em;
  align-items: center;
  background-color: rgba(98, 151, 226, 0.445);
  border-radius: 50% 10px 10px 50%;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

main ul li img{ 
  width: 50%;
  height: 100%;
  border-radius: 50% 0 0 50% ;
}

main ul li p {
  font: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(width < 450px) {
  main search form {
    flex-direction: column;
    gap: 1em;
    padding-inline: 1em;
  }
  main search form input,select,button {
    min-width: 100%;
  }
}