*{
  box-sizing: border-box;
}


main {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "user-basic-data"
  "user-details"
  "resume"; */
  align-items: center;
  /* justify-content: space-between; */
  gap: 1em;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  padding: 1em;
  max-width: 100%;
  font-size: 1em;
  backdrop-filter: blur(10px);
}

main a {
  text-decoration: none;
  color: black;
}

main section{
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  padding: 1em;
}

main section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  height: auto;
}

.profile-pic-wrapper {
  box-shadow: var(--shadow-color);
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}

main section:first-child div .profile-pic {
  box-shadow: var(--shadow-color);
  width: 100%;
  border-radius: 50%;
  display: flex;
  object-fit: cover;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.edit-profile-pic {
  position: absolute;
  background-color: var(--blue);
  border-radius: 50%;
  box-shadow: var(--button-shadow);
  width: 20%;
  bottom: 0;
  right: 10%;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.edit-profile-pic:active {
  opacity: 0.9;
}

main section:first-child .user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 33.3%;
  height: 100%;
}

main section:first-child .user-details h1 {
  font-size: 2.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Pacifico, cursive;
  color: var(--blue);
  max-width: 32vw;
  text-align: center;
}
main section:first-child .user-details div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  min-width: 100%;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
}
main section:first-child .user-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  min-width: 33.3%;
  min-height: 100%;
} 

main section:first-child .user-posts a {
  min-width: 100%;
  text-align: center;
  align-content: center;
  background-color: var(--blue);
  border-radius: var(--border-radius); 
  color: white; 
  box-shadow: var(--button-shadow);
  transition: 0.15s ease-in;
}

main section:first-child .user-posts a:first-of-type {
  flex: 1;
}
main section:first-child .user-posts a:hover {
    opacity: 0.8;
  }
main section:first-child .user-posts a:active {
    opacity: 0.5;
  }

main section:first-child .user-posts a:not(:first-of-type) {
  display: none;
  flex: 1;
}

main > section:nth-child(2) {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  min-width: 100%;
  height: 100%;
  height: auto;
  position: relative;
  transition: 0.15s ease-in-out;
}

main > section:nth-child(2) img {
  position: absolute;
  max-width: 40px;
  top: -10px;
  right: -10px;
}

details li {
  list-style: none;
  margin-inline: 1.2em;
}

details {
  min-width: 100%;
  overflow: hidden;
}

details::details-content {
  display: block;
  block-size: 0;
  transition: block-size 0.15s, content-visibility 1s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;;
}

details summary {
  text-align: start;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 3px;
  min-width: 100%;
  cursor: pointer;
  user-select: none;
  position: relative;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 0.4em;
  /* left: 0; */
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
  text-align: center;
}


details[open] > summary:before {
  transform: rotate(90deg);
}

details summary {
  list-style: none;
}
details ul {
  display: flex;
  margin-left: 1em;
  gap: 1em;
  flex-direction: column;
}


main section:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  min-width: 100%;
  height: 100%;
  height: auto;
  position: relative;
  transition: 0.15s ease-in-out;
}

main section:last-child label {
  background-color: var(--blue);
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  width: 100%;
  text-align: center;
  color: white;
}

@media(width < 605px) {
  main section:first-child {
    flex-direction: column;
  }
  main section:first-child .profile-pic {
    width: 80%;
  }
  .profile-pic-wrapper {
    min-width: 80%;
  }
  .edit-profile-pic {
    right: 10%;
  }
  main section:first-child .user-posts {
    min-width: 100%;
    min-height: auto;
    gap: 1em;
  }
  main section:first-child .user-details {
    min-width: 100%;
    min-height: auto;
  }
  main section:first-child .user-posts a {
  padding-block: 1em;
  }
  main section:first-child .user-details h1 {
    min-width: 100%;
    white-space:normal;
  }
  main section:last-child {
    flex-direction: column;
  }
}