main {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: 1em;
  min-width: 100%;
  min-height: 80%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

main form {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "box-1 box-2 box-3"
  "box-1 box-4 box-5"
  "submit submit submit";
  gap: 1em;
  box-sizing: border-box;
}

main div{
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  backdrop-filter: blur(10px);
  padding: 1em;
  box-sizing: border-box;
}

main form button{
  align-self: center;
  width: 10%;
  justify-self: center;
  box-shadow: var(--button-shadow);
  border: none;
  background-color: var(--blue);
  padding: 0.5em 1em;  
  border-radius: 0.8em;
  color: white;
}

main form div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main form div label {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

main form div:first-of-type textarea {
  min-height: 92%;
}
main form div textarea {
  resize: none;
  background-color: var(--blue);
  padding: 1em;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 81%;
  border-radius: var(--border-radius);
  outline: none;
  color: white;
  border: none;
  box-shadow: var(--shadow-color);
}

@media(width <= 690px) {
  main form {
    display: flex;
    flex-direction: column;
  }
  main form div:first-of-type textarea {
    min-height: 200px;
  }
  main form div textarea {
    min-height: 200px;
  }
  main form button {
    width: 50%;
  }
}