nav li:nth-child(2) {
  align-items: center;
  align-content: center;
  padding-block: 0.1em;
  background-color: transparent;
  & a{
    color: white;
  }
}

nav li:nth-child(2) a{
  background-color: var(--blue);
  transition: 0.15s ease-in-out;
  min-height: 80%;
  align-self: center;
  padding-inline: 0.5em;
  align-content: center;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

nav li:nth-child(2) a:hover {
  background-color: #f0f0f0;
  color: black;
}

.user-name {
  color: var(--blue);
  font-family: Pacifico , Georgia, Times, serif;
  cursor: pointer;
} 

.user-link {
  text-decoration: none;
}

.user-name:hover {
 text-decoration: underline;
}

main {
  min-height: 80%;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "welcome-box";
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem;
  backdrop-filter: blur(10px);
}


.welcome-box {
  grid-area: welcome-box;
  min-height: 80%;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "welcome-img welcome-text";
  background-color: var(--main-color);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  padding: 1em;
}

.welcome-text {
  grid-area: welcome-text;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  max-width: 40vw;
  padding: 1vw;
}

.college-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text h1:first-of-type {
  font-size: 2em;
} 
.welcome-text h1:nth-child(2) {
  font-size: 2em;
}
.welcome-text p:first-of-type {
  font-size: 1rem;
}

.college-image img{
  grid-area: welcome-img;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
}

@media(width < 1000px){
  main{
    padding-inline: 0;
  }
  .welcome-box {
    grid-template-areas: 
    "welcome-text"
    "welcome-img";
    /* "events"; */
    gap: 30px;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
  }
  .welcome-text {
    max-width: 100%;
    margin-bottom: auto;
    justify-self: center;
    padding: 1vw;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-color);
  }
  .college-image img {
    max-width: 100%;
    height: 100%;
    align-self: center;
  }
  .college-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(width <= 425px) {
  .welcome-box {
    grid-template-areas: 
    "welcome-img"
    "welcome-text";
    /* "events"; */
    gap: 30px;
    justify-content: center;
  }
}