nav li:nth-child(3) {
  align-items: center;
  align-content: center;
  padding-block: 0.1em;
  background-color: transparent;
  & a{
    color: white;
  }
}

nav li:nth-child(3) a{
  background-color: var(--blue);
  transition: 0.15s ease-in-out;
  min-height: 80%;
  align-self: center;
  padding-inline: 0.5em;
  align-content: center;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

nav li:nth-child(3) a:hover {
  background-color: #f0f0f0;
  color: black;
}


main{
  min-height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  padding: 1em;
  backdrop-filter: blur(10px);
}

main section {
  min-width: 30%;
  min-height: 70%;
  text-align: center;
  align-content: center;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-color);
  background-color: var(--main-color);
  cursor: pointer;
}

@media(width < 800px){
  main {
    flex-direction: column;
    overflow: scroll;
    gap: 1em;
  }
  main section {
    min-width: 100%;
    min-height: 20vh;
  }
}  